@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 15px;
    padding-bottom: 2rem;
}

form {
    font-size: 12px;
}

/* Grid areas */

#nav {
    grid-area: nav;
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#newsletter {
    grid-area: newsletter;
}

#footer {
    grid-area: footer;
}

/* Contenedores Grid */

.index__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "newsletter"
        "footer";
}

.container__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
}

.practice-areas__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: auto;
    justify-items: center;
}

.form__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: auto;
    row-gap: 1rem;
    justify-items: center;
}

/* navegación */

.nav {
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 5px 15px 0 15px;
    z-index: 100;
    flex-wrap: nowrap;
}

.nav__ul {
    justify-content: right;
}

.nav__button {
    width: 4rem;
    height: 4rem;
}

.nav__logo {
    display: block;
    width: 220px;
    min-width: 130px;
    margin-right: 20px;
}

.nav__logo img {
    width: 100%;
}

.nav li {
    margin: 10px 1rem;
    text-align: center;
}

.nav__links {
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav__links:hover {
    transition: 0.1s;
    color: #fd5000;
}

/* Cabeceras */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 230px);
    min-height: 27rem;
    overflow: hidden;
}

.header--margin {
    margin-bottom: 6rem;
    min-height: 42rem;
}

.header__title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-transform: uppercase;
    opacity: 0.9;
    padding: 0 3rem;
    animation: header-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

.header__title--bottom {
    margin-top: 35rem;
}

.header__photo {
    height: 100%;
    min-height: 40rem;
}

.header__foto--left {
    position: relative;
    left: 50rem;
}

/* Cabeceras Animaciones */

@keyframes header-anim {

    from {
        opacity: 0;
        transform: translateY(2em);
    }

    to {}
}

/* Contenidos principales */

.main {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

/* Información de la empresa */

.overview {
    background-color: #fd5000;
    position: relative;
    top: -55px;
    color: white;
    text-align: center;
    line-height: 25px;
    border-bottom: 5px black solid;
    padding: 1rem 2rem 4rem 2rem;
}

.overview__title {
    margin-bottom: 2rem;
}

/* Noticias */

.news h2 {
    margin-bottom: 6rem;
    text-align: center;
}

.news small {
    font-size: 12px;
}

/* Quienes somos */

.who-we-are p {
    font-size: 15px;
    margin: 2rem 1.5rem;
}

/* Áreas de práctica */

.practice-areas h2 {
    text-align: center;
    margin-bottom: 25px;
}

.practice-areas a {
    width: 90%;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    background-color: rgba(214, 215, 216, 0.5);
    color: rgba(0, 0, 0, 0.8);
}

.practice-areas a:hover {
    transition: color 0.5s, transform 0.2s;
    color: white;
    background-color: #fd5000;
    transform: scale(1.05);
}

/* Política de calidad */

.quality {
    margin: 0 15px;
}

.quality h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.quality__flex {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.quality__flex a img {
    width: 5rem;
    opacity: 0.5;
}

/* Recomendaciones */

.carrusel--height {
    height: 35rem;
}

.carrusel--heightB {
    width: 820px;
}

/* Trabaja con nosotros */

.work-with-us {
    margin: 2rem;
}

/* Formulario de trabajo */

.form {
    margin-bottom: 5rem;
}

.form h2 {
    text-align: center;
    margin: 3rem 0 4rem 0;
}

.form input,
.form select,
.form textarea {
    background-color: white;
    height: 5rem;
    width: 90%;
    border: #bebebe 1px solid;
    border-radius: 8px;
    padding-left: 2rem;
}

.form div input {
    padding: 0;
    margin-bottom: 1rem;
    opacity: 0.8;
    background-color: #fd5000;
    margin-top: 1rem;
}

.form textarea {
    height: auto;
    padding-top: 1rem;
}

.form div input:hover {
    transition: 0.2s;
    transform: scale(1.3);
    opacity: 1;
}

/* Reconocimientos internacionales */

.recon {
    margin: 10rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recon__title {
    margin-bottom: 5rem;
}

.recon__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30rem;
}

.recon li {
    padding: 1rem;
}

/* Newsletter */

.newsletter {
    background-color: #fd5000;
    padding: 3rem 0;
    line-height: 4rem;
    text-align: center;
}

.newsletter__title {
    font-size: 15px;
    color: white;
}

.newsletter form input {
    text-align: center;
    font-weight: 700;
    width: 25rem;
    height: 3rem;
}

/* Contacto */

.branch {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -8rem;
}

.branch li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.branch h3 {
    font-size: 30px;
}

.branch p {
    padding: 0;
}

.branch img {
    border: 1px solid black;
    width: 230px;
    box-shadow: 0 2px 1px rgb(104, 104, 104);
    margin-bottom: 1rem;
}

/* Formulario de contacto */

#submit {
    padding: 0;
    margin-bottom: 1rem;
    opacity: 0.8;
    background-color: #fd5000;
    margin-top: 1rem;
    width: 20rem;
}

#submit:hover {
    transition: 0.2s;
    transform: scale(1.2);
    opacity: 1;
}

/* Pie de página */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    padding-top: 1rem;
    color: white;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    margin: 0 1rem;
}

.footer__logo {
    width: 200px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.footer__logo img {
    position: relative;
    left: -3rem;
    width: 22rem;
}

.footer__social {
    position: relative;
    left: -1.6rem;
    margin-left: 3rem;
    margin-top: 2rem;
    line-height: 2rem;
}

.footer__social img {
    width: 20px;
    padding: 1px;
    margin-left: 5px;
}

.footer__addresses {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3rem 0 3rem 0;
}

.footer__addresses img {
    width: 15px;
    height: 15px;
    margin-right: 1rem;
}

.footer__addresses h3 {
    display: inline;
}

.footer__list {
    display: flex;
    margin-bottom: 3rem;
}

.addresses__info {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}

.addresses__info p {
    text-align: center;
    font-size: 12px;
    margin: -6px 0;
}

#la-paloma {
    margin-left: 10rem;
}

.footer__copyR {
    border-top: #fd5000 1px solid;
    padding: 2rem 0;
    text-align: center;
    width: 50%;
}

/* Checkpoint 1 */

@media (min-width: 400px) {

    /* footer */

    .footer__social {
        left: 0;
    }

}

@media (min-width: 480px) {

    /* Cabecera */

    .header {
        height: calc(100vh - 130px);
    }
}

/* Checkpoint 2 */

@media (min-width: 740px) {

    /* Contenedores Grid */

    .index__grid {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            ". main ."
            "newsletter newsletter newsletter"
            "footer footer footer";
    }

    .container__grid {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav nav nav"
            "header header header"
            ". main ."
            "footer footer footer";
    }

    .practice-areas__grid {
        grid-template-columns: 50% 50%;
        column-gap: 1rem;
    }

    .form__grid {
        grid-template-columns: 50% 50%;
    }

    /* Cabeceras */

    .header {
        height: calc(100vh - 8.5rem);
    }

    .header--ajust {
        align-items: flex-start;
        height: 44rem;
        margin-bottom: 2rem;
    }

    .header__photo {
        width: 1920px;
        height: auto;
    }

    .header__foto--left {
        position: static;
    }

    /* Noticias */

    .news h2 {
        text-align: left;
    }

    .news .card:hover {
        transition: color 0.2s, transform 0.5s;
        color: white;
        background-color: #fd5000;
        transform: scale(1.05);
    }

    /* Contacto */

    .branch {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        top: -5rem;
    }

    .branch li {
        margin: 0 20px;
    }

    /* Recomendaciones */

    .carrusel {
        box-shadow: 0 0 5px black;
        border-radius: 1rem;
        overflow: hidden;
    }

    .carrusel--height {
        height: auto;
    }

    .carrusel--heightB {
        width: auto;
    }

    /* Reconocimientos internacionales */

    .recon {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }

    .recon__list {
        width: 40rem;
        min-width: 40rem;
    }

    .recon li {
        padding: 1rem 3rem;
    }

    /* Pie de página */

    .footer__container {
        width: 100%;
    }

    .footer__logo img {
        position: static;
        width: 30rem;
    }

    .footer__social {
        width: 30rem;
        text-align: center;
    }

    .footer__social img {
        margin: 1rem 0.3rem;
    }

    .footer__social img:hover {
        transition: 0.1s;
        transform: scale(1.5);
    }

    .footer__addresses {
        flex-direction: row;
    }

    .footer__addresses img {
        margin: 0;
    }

    .footer__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 18rem;
    }

    .addresses__info {
        margin: 0;
    }

    .addresses__info p {
        margin: 0.5rem 0;
    }

    #la-paloma {
        margin: 0;
    }
}

/* Checkpoint 3 */

@media (min-width: 1160px) {

    /* Contenedores Grids */

    .index__grid {
        grid-template-columns: 20% 60% 20%;
    }

    .container__grid {
        grid-template-columns: 20% 60% 20%;
    }

    .practice-areas__grid {
        grid-template-columns: 50% 50%;
        column-gap: 1rem;
    }

    /* Cabeceras */

    .header__title--left {
        width: 60%;
        text-align: left;
        padding: 0;
    }

    /* Quienes somos */

    .who-we-are {
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    .who-we-are p {
        margin: 0;
    }

    /* Áreas de práctica */

    .practice-areas h2 {
        margin: 3rem 0;
        text-align: left;
    }

    /* Políticas de calidad */

    .quality h2 {
        text-align: left;
    }

    .quality div a:hover {
        transition: 0.2s;
        transform: scale(1.5);
        opacity: 1;
    }

    /* Contacto */

    .branch {
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    /* Pie de página */

    .footer__container {
        justify-content: space-around;
    }
}