// Resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
}

html {
    font-size: 62.5%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: map-get($map: $paleta, $key: 'black');

    &:hover {
        color: map-get($map: $paleta, $key: 'black');
    }
}

h1 {
    font-weight: $textBold;
}

h2 {
    @extend h1;
    font-size: $subtitle1Size;
}

h3 {
    font-size: $subtitle2Size;
}

p {
    font-size: $paragraphSize;
    padding-bottom: 2rem;
}

// Navegación

.nav {
    background-color: map-get($map: $paleta, $key: 'white');
    position: sticky;
    top: 0px;
    padding: 15px;
    z-index: 100;

    ul {
        li {
            margin: 10px 1rem;
            text-align: center;
        }
    }
}

.nav__ul {
    justify-content: right;
}

.nav__logo {
    display: block;
    width: 140px;
    min-width: 160px;
    margin-right: 10px;

    img {
        width: 100%;
    }
}

.nav__links {
    color: map-get($map: $paleta, $key: 'black');
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        transition: 0.1s;
        color: map-get($map: $paleta, $key: 'uno');
    }
}

.button {
    background-color: map-get($map: $paleta, $key: 'white');
    border: none;
    margin-right: 1rem;
}

.hamburguer {
    fill: map-get($map: $paleta, $key: 'uno');
}

// Cabecera

.header {
    @include flex(auto, center, center, auto);
    height: calc(100vh - 230px);
    min-height: 27rem;
    overflow: hidden;
}

.header--margin {
    margin-bottom: 6rem;
    min-height: 42rem;
}

.header__title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: map-get($map: $paleta, $key: 'white');
    text-shadow: 0px 0px 5px map-get($map: $paleta, $key: 'black');
    text-transform: uppercase;
    opacity: 0.9;
    padding: 0 3rem;
    animation: header-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    z-index: 5;
}

.header__title--bottom {
    margin-top: 35rem;
}

.header__photo {
    height: 100%;
    min-height: 40rem;
}

#contactHeader {
    margin-left: 75rem;
}

.header__foto--left {
    position: relative;
    left: 50rem;
}

// Cabecera animación

@keyframes header-anim {

    from {
        opacity: 0;
        transform: translateY(2em);
    }

    to {}
}

// Mains

.main {
    @include flex(column, auto, auto, auto);
    margin: 0 15px;
}

// Información de la empresa

.overview {
    background-color: map-get($map: $paleta, $key: 'uno');
    position: relative;
    top: -75px;
    color: map-get($map: $paleta, $key: 'white');
    text-align: center;
    line-height: 25px;
    border-bottom: 5px map-get($map: $paleta, $key: 'black') solid;
    padding: 1rem 2rem 4rem 2rem;
}

.overview__title {
    margin-bottom: 2rem;
}

// Noticias

.news {
    h2 {
        margin-bottom: 6rem;
        text-align: center;
    }

    small {
        font-size: 12px;
    }
}

// Quiénes somos

.who-we-are p {
    font-size: $paragraphSize;
    margin: 2rem 1.5rem;
}

// Áreas de práctica

.practice-areas {
    h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    a {
        width: 90%;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 15px 0;
        text-align: center;
        background-color: map-get($map: $paleta, $key: 'gray');
        color: map-get($map: $paleta, $key: 'black');

        &:hover {
            transition: color 0.5s, transform 0.2s;
            color: map-get($map: $paleta, $key: 'white');
            background-color: map-get($map: $paleta, $key: 'uno');
            transform: scale(1.05);
        }
    }
}

// Recomendaciones

.carrusel--height {
    height: 35rem;
}

.carrusel--heightB {
    width: 820px;
}

// Trabaja con nosotros

.work-with-us {
    margin: 2rem;
}

// Política de calidad

.quality {
    h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.quality__flex {
    @include flex(auto, auto, center, auto);
    align-items: center;
    margin-bottom: 3rem;

    a {
        img {
            width: 5rem;
            opacity: 0.5;
        }
    }
}

// Formulario de trabajo

.form {
    margin-bottom: 5rem;
    font-size: $formTextSize;

    h2 {
        text-align: center;
        margin: 3rem 0 4rem 0;
    }

    input {
        background-color: map-get($map: $paleta, $key: 'white');
        height: 5rem;
        width: 90%;
        border: map-get($map: $paleta, $key: 'gray') 1px solid;
        border-radius: 8px;
        padding-left: 2rem;
    }

    select {
        @extend input;
    }

    textarea {
        @extend input;
        height: auto;
        padding-top: 1rem;
    }

    div {
        input {
            padding: 0;
            margin-bottom: 1rem;
            opacity: 0.8;
            background-color: map-get($map: $paleta, $key: 'uno');
            margin-top: 1rem;

            &:hover {
                transition: 0.2s;
                transform: scale(1.3);
                opacity: 1;
            }
        }
    }
}

// Contacto

.branch {
    @include flex (column, auto, center, auto);
    position: relative;
    left: -10px;
    top: -8rem;

    li {
        @include flex (column, auto, center, auto);
        margin-bottom: 1rem;
    }

    h3 {
        border-bottom: 3px solid map-get($map: $paleta, $key: 'gray');
    }

    p {
        font-size: $paragraphSize;
        padding: 0;
    }

    img {
        width: 230px;
        box-shadow: 0 2px 15px map-get($map: $paleta, $key: 'darkGray');
        margin-bottom: 1rem;
    }
}

// Formulario de contacto

#submit {
    padding: 0;
    margin-bottom: 1rem;
    opacity: 0.8;
    background-color: map-get($map: $paleta, $key: 'uno');
    margin-top: 1rem;
    width: 20rem;

    &:hover {
        transition: 0.2s;
        transform: scale(1.2);
        opacity: 1;
    }
}

// Reconocimientos internacionales

.recon {
    @include flex (column, auto, center, auto);
    margin: 10rem 0;
    text-align: center;

    li {
        padding: 1rem;
    }
}

.recon__title {
    margin-bottom: 5rem;
}

.recon__list {
    @include flex (auto, center, auto, wrap);
    width: 30rem;
}

// Newsletter

.newsletter {
    background-color: map-get($map: $paleta, $key: uno);
    padding: 3rem 0;
    line-height: 4rem;
    text-align: center;

    form input {
        text-align: center;
        font-weight: $textBold;
        width: 25rem;
        height: 3rem;
    }
}

.newsletter__title {
    font-size: 15px;
    color: map-get($map: $paleta, $key: 'white');
}

// Pie de página

.footer {
    @include flex (auto, center, auto, wrap);
    background-color: map-get($map: $paleta, $key: 'black');
    padding-top: 1rem;
    color: map-get($map: $paleta, $key: 'white');
}

.footer__logo {
    width: 200px;
    margin-left: 2rem;
    margin-top: 2rem;

    img {
        position: relative;
        left: -3rem;
        width: 22rem;
    }
}

.footer__social {
    position: relative;
    left: -1.6rem;
    margin-left: 3rem;
    margin-top: 2rem;
    line-height: 2rem;

    img {
        width: 20px;
        padding: 1px;
        margin-left: 5px;
    }
}

.footer__addresses {
    @include flex (column, auto, auto, wrap);
    margin: 3rem 0 3rem 0;
    width: 340px;

    h3 {
        display: inline;
    }

    img {
        width: 15px;
        height: 15px;
        margin-right: 1rem;
    }
}

.footer__list {
    @include flex(auto, auto, auto, auto);
    margin-bottom: 3rem;
}

.addresses__info {
    @include flex (column, auto, auto, auto);
    margin-left: 6rem;

    p {
        text-align: center;
        font-size: 12px;
        margin: -6px 0;
    }
}

.footer__copyR {
    border-top: map-get($map: $paleta, $key: 'uno') 1px solid;
    padding: 2rem 0;
    text-align: center;
    width: 50%;
}

#maldonado {
    margin-left: 5rem;
}

#la-paloma {
    margin-left: 9.2rem;
}