// Fuentes

$primaryFont: 'Montserrat', sans-serif;

// Modificadores de texto

$textBold: 700;
$subtitle1Size: 22px;
$subtitle2Size: 20px;
$paragraphSize: 15px;
$formTextSize: 15px;

// Colores

$paleta: (
    'uno': #F55000,
    'dos':#c23d00,
    'tres':#eb7f4d,
    'white':#ffffff,
    'black':#000000,
    'gray':#eeeeee,
    'darkGray': #707070ee
);