// Fuentes

$primaryFont: 'Montserrat', sans-serif;

// Modificadores de texto

$textBold: 700;
$subtitle1Size: 20px;
$subtitle2Size: 18px;
$paragraphSize: 15px;

// Colores

$paleta: (
    'uno':#fd5000,
    'dos':#c23d00,
    'tres':#eb7f4d,
    'white':#ffffff,
    'black':#000000,
    'gray':#252525,
);